<div class="about-container">
    <div class="about-header">
      <h1>Welcome to CySaR</h1>
      <p>M2I Search and Rescue Robotics Team</p>
    </div>
  
    <div class="about-description">
      <p>
        CySaR brings a robotic, competition-based team to the Make to Innovate lineup of projects.
        Because of the nature of the competition, CySaR will bring out creative solutions to different challenges each year, thus keeping the project interesting and non-monotonous.
        This project has a joint purpose: To design and test a competitive robot and to provide students with experience/resume builders.
        The robot will be capable of completing at least 4 of the events within RoboCupRescue by the end of the year.
        We will use the first semester to continue our design and build phase while keeping dexterity and maneuverability in mind to accomplish these goals.
        The second semester will majorly be reserved for testing and getting ready for the competition.</p>
      <p>
      <p>
        CySaR's mission is to bring out creative solutions to a robotics field that directly affects the rescue of people in disaster scenarios.
        In addition to this, we'll use the platform of Robocup Rescue to get exposure to robotics and multiple prototyping skills such as additive/subtractive manufacturing, electrical circuits, programming, etc.
      </p>
      <p>
        CySaR will be taking an aggressive, “Fail First” approach to our goals and deliverables.
        We'll be following the failure model of fail fast, frugal, and fluid; meaning that we'll strive to have little downtime between tests, conduct inexpensive tests, and be open minded to the results of our tests.
        We'll be using various shops around campus including the M2I lab (general machining, additive manufacturing, and construction), Boyd Lab (Advanced subtractive manufacturing), and Sukup 1209 (Water-Jetting).
        Towards the end of the semester, we will be completing and recording qualification videos in order to attempt to qualify for the 2024 Robocup Rescue Competition.
        In order to qualify, we will be focusing on the maneuverability and mobility sectors of competition as outlined in the 2023 RoboCup Rules.
      </p>
    </div>

  </div>
  